
.product {
    background-color: rgb(241, 226, 137);
    position: absolute; 
    top: 30%;
    left: 70%;
    width: 20%;
    height: 40%;
    border-radius: 3%;
    box-shadow: 0px 0px 10px 4px rgb(128, 125, 125);
  }
  .product h2 {
    position: absolute;
    top: 2%;
    color: rgb(138, 47, 35);
    padding: 10%;
  }

  .product p{
    position: relative;
    top: 30% ;
    left: 10%;
    color: brown;
  }
  .product button {
    position: relative;
    top: 40%;
    padding: 3%;
    margin-left: 10%;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 60, 7);
    border-radius: 5%;
  }

